<!DOCTYPE html>
<!-- saved from url=(0028)http://www.mexicad.com/reg3/ -->
<html lang="es-MX"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	
	<!-- This site is optimized with the Yoast SEO plugin v14.6.1 - https://yoast.com/wordpress/plugins/seo/ -->
	<title>- Clinica Maya</title>
	<meta name="robots" content="index, follow">
	<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
	<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
	<link rel="canonical" href="http://www.mexicad.com/reg3/">
	<meta property="og:locale" content="es_MX">
	<meta property="og:type" content="article">
	<meta property="og:title" content="- Clinica Maya">
	<meta property="og:description" content="Registro de Pacientes (historial médico 3/3)">
	<meta property="og:url" content="http://www.mexicad.com/reg3/">
	<meta property="og:site_name" content="Clinica Maya">
	<meta property="article:modified_time" content="2021-01-08T00:43:49+00:00">
	<meta name="twitter:card" content="summary_large_image">
	<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"http://www.mexicad.com/#website","url":"http://www.mexicad.com/","name":"Clinica Maya","description":"Clinica Maya ","potentialAction":[{"@type":"SearchAction","target":"http://www.mexicad.com/?s={search_term_string}","query-input":"required name=search_term_string"}],"inLanguage":"es-MX"},{"@type":"WebPage","@id":"http://www.mexicad.com/reg3/#webpage","url":"http://www.mexicad.com/reg3/","name":"- Clinica Maya","isPartOf":{"@id":"http://www.mexicad.com/#website"},"datePublished":"2020-12-16T22:05:15+00:00","dateModified":"2021-01-08T00:43:49+00:00","inLanguage":"es-MX","potentialAction":[{"@type":"ReadAction","target":["http://www.mexicad.com/reg3/"]}]}]}</script>
	<!-- / Yoast SEO plugin. -->


<link rel="dns-prefetch" href="http://secureservercdn.net/">
<link rel="dns-prefetch" href="http://fonts.googleapis.com/">
<link rel="dns-prefetch" href="http://s.w.org/">
<link rel="alternate" type="application/rss+xml" title="Clinica Maya » Feed" href="http://www.mexicad.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Clinica Maya » RSS de los comentarios" href="http://www.mexicad.com/comments/feed/">
<link rel="preconnect" href="https://secureservercdn.net/" crossorigin="">
		<script>
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/secureservercdn.net\/45.40.152.13\/5bs.106.myftpupload.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.6&time=1610066630"}};
			!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
		</script><script src="../css/Registro_3_modificar_files/wp-emoji-release.min.js.descarga" type="text/javascript" defer=""></script>
		<style>
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel="stylesheet" id="wp-block-library-css" href="../css/Registro_3_modificar_files/style.min.css" media="all">
<link rel="stylesheet" id="wc-block-vendors-style-css" href="../css/Registro_3_modificar_files/vendors-style.css" media="all">
<link rel="stylesheet" id="wc-block-style-css" href="../css/Registro_3_modificar_files/style.css" media="all">
<link rel="stylesheet" id="coblocks-frontend-css" href="../css/Registro_3_modificar_files/coblocks-style.css" media="all">
<link rel="stylesheet" id="woocommerce-layout-css" href="../css/Registro_3_modificar_files/woocommerce-layout.css" media="all">
<link rel="stylesheet" id="woocommerce-smallscreen-css" href="../css/Registro_3_modificar_files/woocommerce-smallscreen.css" media="only screen and (max-width: 768px)">
<link rel="stylesheet" id="woocommerce-general-css" href="../css/Registro_3_modificar_files/woocommerce.css" media="all">
<style id="woocommerce-inline-inline-css">
.woocommerce form .form-row .required { visibility: visible; }
</style>
<link rel="stylesheet" id="go-fonts-css" href="../css/Registro_3_modificar_files/css" media="all">
<link rel="stylesheet" id="go-style-css" href="../css/Registro_3_modificar_files/style-shared.min.css" media="all">
<link rel="stylesheet" id="go-design-style-modern-css" href="../css/Registro_3_modificar_files/style-modern.min.css" media="all">
<script src="../css/Registro_3_modificar_files/jquery.min.js.descarga" id="jquery-core-js"></script>
<script src="../css/Registro_3_modificar_files/jquery-migrate.min.js.descarga" id="jquery-migrate-js"></script>
<link rel="https://api.w.org/" href="http://www.mexicad.com/wp-json/"><link rel="alternate" type="application/json" href="http://www.mexicad.com/wp-json/wp/v2/pages/552"><link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.mexicad.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://secureservercdn.net/45.40.152.13/5bs.106.myftpupload.com/wp-includes/wlwmanifest.xml?time=1610066630"> 
<link rel="shortlink" href="http://www.mexicad.com/?p=552">
<link rel="alternate" type="application/json+oembed" href="http://www.mexicad.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.mexicad.com%2Freg3%2F">
<link rel="alternate" type="text/xml+oembed" href="http://www.mexicad.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.mexicad.com%2Freg3%2F&amp;format=xml">
		<style>
			:root {
				--go--color--white: hsl(0, 0%, 100%);
									--go--color--primary: hsl(173, 100%, 24%);
				
									--go--color--secondary: hsl(174, 63%, 40%);
				
									--go--color--tertiary: hsl(177, 41%, 91%);
				
									--go--color--background: hsl(0, 0%, 100%);
				
									--go-header--color--background: hsl(177, 41%, 91%);
				
									--go-site-title--color--text: hsl(174, 63%, 40%);
					--go-site-description--color--text: hsl(174, 63%, 40%);
					--go-navigation--color--text: hsl(174, 63%, 40%);
					--go-search-toggle--color--text: hsl(174, 63%, 40%);
					--go-search-button--color--background: hsl(174, 63%, 40%);
				
				
				
				
				
									--go-logo--max-width: 100px;
				
									--go-logo-mobile--max-width: 100px;
				
									--go--viewport-basis: 950;
							}

			.has-primary-to-secondary-gradient-background {
				background: -webkit-linear-gradient(135deg, var(--go--color--primary) 0%, var(--go--color--secondary) 100%);
				background: -o-linear-gradient(135deg, var(--go--color--primary) 0%, var(--go--color--secondary) 100%);
				background: linear-gradient(135deg, var(--go--color--primary) 0%, var(--go--color--secondary) 100%);
			}

			.has-primary-to-tertiary-gradient-background {
				background: -webkit-linear-gradient(135deg, var(--go--color--primary) 0%, var(--go--color--tertiary) 100%);
				background: -o-linear-gradient(135deg, var(--go--color--primary) 0%, var(--go--color--tertiary) 100%);
				background: linear-gradient(135deg, var(--go--color--primary) 0%, var(--go--color--tertiary) 100%);
			}

			.has-primary-to-background-gradient-background {
				background: -webkit-linear-gradient(135deg, var(--go--color--primary) 0%, var(--go--color--background) 100%);
				background: -o-linear-gradient(135deg, var(--go--color--primary) 0%, var(--go--color--background) 100%);
				background: linear-gradient(135deg, var(--go--color--primary) 0%, var(--go--color--background) 100%);
			}

			.has-secondary-to-tertiary-gradient-background {
				background: -webkit-linear-gradient(135deg, var(--go--color--secondary) 0%, var(--go--color--tertiary) 100%);
				background: -o-linear-gradient(135deg, var(--go--color--secondary) 0%, var(--go--color--tertiary) 100%);
				background: linear-gradient(135deg, var(--go--color--secondary) 0%, var(--go--color--tertiary) 100%);
			}
		</style>
		<noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
	<style id="custom-background-css">
body.custom-background { background-color: #ffffff; }
</style>
	<link rel="icon" href="https://secureservercdn.net/45.40.152.13/5bs.106.myftpupload.com/wp-content/uploads/2020/12/cropped-clinica-maya-1-32x32.png" sizes="32x32">
<link rel="icon" href="https://secureservercdn.net/45.40.152.13/5bs.106.myftpupload.com/wp-content/uploads/2020/12/cropped-clinica-maya-1-192x192.png" sizes="192x192">
<link rel="apple-touch-icon" href="https://secureservercdn.net/45.40.152.13/5bs.106.myftpupload.com/wp-content/uploads/2020/12/cropped-clinica-maya-1-180x180.png">
<meta name="msapplication-TileImage" content="https://secureservercdn.net/45.40.152.13/5bs.106.myftpupload.com/wp-content/uploads/2020/12/cropped-clinica-maya-1-270x270.png">
</head>

<body class="page-template-default page page-id-552 custom-background wp-custom-logo wp-embed-responsive theme-go woocommerce-js is-style-modern has-header-1 has-footer-2 has-header-background has-page-titles singular has-full-nav">

	
	<div id="page" class="site">

		<a class="skip-link screen-reader-text" href="http://www.mexicad.com/reg3/#site-content">Saltar al contenido</a>

		<header id="site-header" class="site-header header relative has-background" role="banner" itemscope="" itemtype="http://schema.org/WPHeader">

			<div class="header__inner flex items-center justify-between h-inherit w-full relative">

				<div class="header__extras">
					
	<button id="header__search-toggle" class="header__search-toggle" data-toggle-target=".search-modal" data-set-focus=".search-modal .search-form__input" type="button" aria-controls="js-site-search">
		<div class="search-toggle-icon">
			<svg role="img" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="m18.0553691 9.08577774c0-4.92630404-4.02005-8.94635404-8.94635408-8.94635404-4.92630404 0-8.96959132 4.02005-8.96959132 8.94635404 0 4.92630406 4.02005 8.94635406 8.94635404 8.94635406 2.13783006 0 4.08976186-.7435931 5.64665986-1.9984064l3.8109144 3.8109145 1.3245252-1.3245252-3.8341518-3.7876771c1.2548133-1.5336607 2.0216437-3.5088298 2.0216437-5.64665986zm-8.96959136 7.11060866c-3.90386358 0-7.08737138-3.1835078-7.08737138-7.08737138s3.1835078-7.08737138 7.08737138-7.08737138c3.90386356 0 7.08737136 3.1835078 7.08737136 7.08737138s-3.1602705 7.08737138-7.08737136 7.08737138z"></path></svg>
		</div>
		<span class="screen-reader-text">Alternar la búsqueda</span>
	</button>

										</div>

				<div class="header__title-nav flex items-center flex-nowrap">

					<div class="header__titles lg:flex items-center" itemscope="" itemtype="http://schema.org/Organization"><a href="http://www.mexicad.com/" class="custom-logo-link" rel="home"><img width="231" height="140" src="../css/Registro_3_modificar_files/cropped-clinica-maya.png" class="custom-logo" alt="Clinica Maya"></a></div>
					
						<nav id="header__navigation" class="header__navigation" aria-label="Horizontal" role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">

							<div class="header__navigation-inner">
															</div>

						</nav>

					
				</div>

				
	<div class="header__nav-toggle">
		<button id="nav-toggle" class="nav-toggle" type="button" aria-controls="header__navigation">
			<div class="nav-toggle-icon">
				<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m3.23076923 15.4615385c-1.78430492 0-3.23076923-1.4464647-3.23076923-3.2307693 0-1.7843045 1.44646431-3.2307692 3.23076923-3.2307692s3.23076923 1.4464647 3.23076923 3.2307692c0 1.7843046-1.44646431 3.2307693-3.23076923 3.2307693zm8.76923077 0c-1.7843049 0-3.23076923-1.4464647-3.23076923-3.2307693 0-1.7843045 1.44646433-3.2307692 3.23076923-3.2307692s3.2307692 1.4464647 3.2307692 3.2307692c0 1.7843046-1.4464643 3.2307693-3.2307692 3.2307693zm8.7692308 0c-1.784305 0-3.2307693-1.4464647-3.2307693-3.2307693 0-1.7843045 1.4464643-3.2307692 3.2307693-3.2307692 1.7843049 0 3.2307692 1.4464647 3.2307692 3.2307692 0 1.7843046-1.4464643 3.2307693-3.2307692 3.2307693z"></path></svg>
			</div>
			<div class="nav-toggle-icon nav-toggle-icon--close">
				<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m21.2325621 4.63841899c.526819-.52681908.5246494-1.38313114-.0035241-1.9113046l.0438476.04384757c-.5287653-.52876531-1.3869798-.52784878-1.9113046-.00352402l-7.065629 7.06562899c-.1634497.16344977-.4265682.16533585-.591904 0l-7.06562901-7.06562899c-.52681908-.52681907-1.38313114-.52464944-1.9113046.00352402l.04384757-.04384757c-.52876531.52876532-.52784878 1.38697983-.00352402 1.9113046l7.06562899 7.06562901c.16344977.1634497.16533585.4265682 0 .591904l-7.06562899 7.065629c-.52681907.5268191-.52464944 1.3831311.00352402 1.9113046l-.04384757-.0438476c.52876532.5287654 1.38697983.5278488 1.9113046.0035241l7.06562901-7.065629c.1634497-.1634498.4265682-.1653359.591904 0l7.065629 7.065629c.5268191.526819 1.3831311.5246494 1.9113046-.0035241l-.0438476.0438476c.5287654-.5287653.5278488-1.3869798.0035241-1.9113046l-7.065629-7.065629c-.1634498-.1634497-.1653359-.4265682 0-.591904z" fill-rule="evenodd"></path></svg>
			</div>
			<span class="screen-reader-text">Menú</span>
		</button>
	</div>

	
			</div>

			
<div class="search-modal" data-modal-target-string=".search-modal" aria-expanded="false">

	<div class="search-modal-inner">

		<div id="js-site-search" class="site-search" itemscope="" itemtype="http://schema.org/WebSite">
	<form role="search" id="searchform" class="search-form" method="get" action="http://www.mexicad.com/">
		<meta itemprop="target" content="http://www.mexicad.com//?s={s}">
		<label for="search-field">
			<span class="screen-reader-text">Buscar:</span>
		</label>
		<input itemprop="query-input" type="search" id="search-field" class="input input--search search-form__input" autocomplete="off" placeholder="Buscar …" value="" name="s">
		<button type="submit" class="search-input__button">
			<span class="search-input__label">Enviar</span>
			<svg role="img" class="search-input__arrow-icon" width="30" height="28" viewBox="0 0 30 28" fill="inherit" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0)">
					<path d="M16.1279 0L29.9121 13.7842L16.1279 27.5684L14.8095 26.25L26.3378 14.7217H-6.10352e-05V12.8467H26.3378L14.8095 1.31844L16.1279 0Z" fill="inherit"></path>
				</g>
				<defs>
					<clippath id="clip0">
						<rect width="29.9121" height="27.5684" fill="white"></rect>
					</clippath>
				</defs>
			</svg>
		</button>
	</form>
</div>

	</div><!-- .search-modal-inner -->

</div><!-- .search-modal -->

		</header>

		<main id="site-content" class="site-content" role="main">


<article class="post-552 page type-page status-publish hentry" id="post-552">

	
	<div class="content-area__wrapper">
		<div class="content-area entry-content">
			
<p class="has-text-align-center has-primary-color has-text-color has-small-font-size has-custom-font has-custom-weight" style="font-family:Arial;font-weight:bold;font-size:26px">Registro de Pacientes (historial médico 3/3)</p>



		<div class="coblocks-form" id="9c85df05cf7ced67df742d1efb32d7e2393af1ae">

			
			<form action="/modificar_paciente3/<%=data.id %> " method="post">
				
<div class="coblocks-field"><label for="antecedentes-personales" class="coblocks-label">Antecedentes personales</label>
		<input type="hidden" name="field-antecedentes-personales[label]" value="Antecedentes personales">

		<input id="antecedentes-personales-alergias" type="checkbox" name="AntecedentesPers" value="Alergias" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-alergias">Alergias</label>
				<input id="antecedentes-personales-intervencion-quirurgica" type="checkbox" name="AntecedentesPers" value="Intervención quirúrgica" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-intervencion-quirurgica">Intervención quirúrgica</label>
				<input id="antecedentes-personales-habito-toxico" type="checkbox" name="AntecedentesPers" value="Hábito tóxico" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-habito-toxico">Hábito tóxico</label>
				<input id="antecedentes-personales-cardiopatia-isquemica" type="checkbox" name="AntecedentesPers" value="Cardiopatía Isquémica" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-cardiopatia-isquemica">Cardiopatía Isquémica</label>
				<input id="antecedentes-personales-hipertension-arterial" type="checkbox" name="AntecedentesPers" value="Hipertensión Arterial" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-hipertension-arterial">Hipertensión Arterial</label>
				<input id="antecedentes-personales-enfermedad-vascular-periferica" type="checkbox" name="AntecedentesPers" value="Enfermedad vascular periférica" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-enfermedad-vascular-periferica">Enfermedad vascular periférica</label>
				<input id="antecedentes-personales-osteoporosis" type="checkbox" name="AntecedentesPers" value="Osteoporosis" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-osteoporosis">Osteoporosis</label>
				<input id="antecedentes-personales-diabetes-mellitus" type="checkbox" name="AntecedentesPers" value="Diabetes Mellitus" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-diabetes-mellitus">Diabetes Mellitus</label>
				<input id="antecedentes-personales-fracturas-patologicas" type="checkbox" name="AntecedentesPers" value="Fracturas Patológicas" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-fracturas-patologicas">Fracturas Patológicas</label>
				<input id="antecedentes-personales-anemia" type="checkbox" name="AntecedentesPers" value="Anemia" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-anemia">Anemia</label>
				<input id="antecedentes-personales-hipertiroidismo" type="checkbox" name="AntecedentesPers" value="Hipertiroidismo" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-hipertiroidismo">Hipertiroidismo</label>
				<input id="antecedentes-personales-dislipoproteinemia" type="checkbox" name="AntecedentesPers" value="Dislipoproteinemia" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-dislipoproteinemia">Dislipoproteinemia</label>
				<input id="antecedentes-personales-malnutricion-por-defecto" type="checkbox" name="AntecedentesPers" value="Malnutrición por defecto" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-malnutricion-por-defecto">Malnutrición por defecto</label>
				<input id="antecedentes-personales-malnutricion-por-exceso" type="checkbox" name="AntecedentesPers" value="Malnutrición por exceso" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-malnutricion-por-exceso">Malnutrición por exceso</label>
				<input id="antecedentes-personales-epoc" type="checkbox" name="AntecedentesPers" value="EPOC" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-epoc">EPOC</label>
				<input id="antecedentes-personales-tuberculosis" type="checkbox" name="AntecedentesPers" value="Tuberculosis" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-tuberculosis">Tuberculosis</label>
				<input id="antecedentes-personales-enfermedad-cerebrovascular" type="checkbox" name="AntecedentesPers" value="Enfermedad Cerebrovascular" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-enfermedad-cerebrovascular">Enfermedad Cerebrovascular</label>
				<input id="antecedentes-personales-trastornos-urinarios" type="checkbox" name="AntecedentesPers" value="Trastornos Urinarios" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-trastornos-urinarios">Trastornos Urinarios</label>
				<input id="antecedentes-personales-neoplastia" type="checkbox" name="AntecedentesPers" value="Neoplastia" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-neoplastia">Neoplastia</label>
				<input id="antecedentes-personales-parkinson" type="checkbox" name="AntecedentesPers" value="Parkinson" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-parkinson">Parkinson</label>
				<input id="antecedentes-personales-enfermedades-articulares" type="checkbox" name="AntecedentesPers" value="Enfermedades Articulares" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-enfermedades-articulares">Enfermedades Articulares</label>
				<input id="antecedentes-personales-demencia" type="checkbox" name="AntecedentesPers" value="Demencia" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-demencia">Demencia</label>
				<input id="antecedentes-personales-depresion" type="checkbox" name="AntecedentesPers" value="Depresión" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-depresion">Depresión</label>
				<input id="antecedentes-personales-intento-de-suicidio" type="checkbox" name="AntecedentesPers" value="Intento de suicidio" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-intento-de-suicidio">Intento de suicidio</label>
				<input id="antecedentes-personales-trastornos-psiquiatricos" type="checkbox" name="AntecedentesPers" value="Trastornos Psiquiátricos" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-trastornos-psiquiatricos">Trastornos Psiquiátricos</label>
				<input id="antecedentes-personales-colagenopatias" type="checkbox" name="AntecedentesPers" value="Colagenopatias" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-colagenopatias">Colagenopatias</label>
				<input id="antecedentes-personales-hipersensibilidad-a-medicamentos" type="checkbox" name="AntecedentesPers" value="Hipersensibilidad a medicamentos" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-hipersensibilidad-a-medicamentos">Hipersensibilidad a medicamentos</label>
				<input id="antecedentes-personales-glaucoma" type="checkbox" name="AntecedentesPers" value="Glaucoma" class="checkbox">
				<label class="coblocks-checkbox-label" for="antecedentes-personales-glaucoma">Glaucoma</label></div>

<label for="otros" class="coblocks-label">Otros:</label>
		<input type="hidden" name="field-otros[label]" value="Otros:">

				<input type="hidden" id="name-field-id" name="name-field-id" class="coblocks-name-field-id" value="field-otros">
		
		<input type="text" id="otros" name="otros" class="coblocks-field coblocks-field--name">

		


		<div class="coblocks-form__submit wp-block-button">
			<button type="submit" class="wp-block-button__link" style="background-color: #ffffff; color: #ffffff;">Enviar</button>
			<input type="hidden" id="form-submit" name="form-submit" value="f84769f22d"><input type="hidden" name="_wp_http_referer" value="/reg3/">			<input type="hidden" name="action" value="coblocks-form-submit">

					</div>

		
				<input class="coblocks-field verify" type="email" name="coblocks-verify-email" autocomplete="off" placeholder="Correo electrónico" tabindex="-1">
				<input type="hidden" name="form-hash" value="9c85df05cf7ced67df742d1efb32d7e2393af1ae">

				<div class="wp-block-buttons">
					<div class="wp-block-button"><a class="wp-block-button__link">Atrás</a></div>
					<div class="wp-block-button is-style-3d">
						<button type="submit">SIGIENTE</button>

							</form>

		</div>

		


<!-- <div class="wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="javascript:history.back()" >Atrás</a></div>



<div class="wp-block-button is-style-3d"><a class="wp-block-button__link" >Siguiente</a></div> -->
</div>
					</div>
	</div>

</article>

	</main>

	
<footer id="colophon" class="site-footer site-footer--2 ">

	<div class="site-footer__inner flex flex-column lg:flex-row lg:flex-wrap items-center align-center max-w-wide m-auto px">

					<nav class="footer-navigation text-sm" aria-label="Menú de pie de página">
							</nav>
		
		
		
	<div class="site-info text-xs mb-0 lg:w-full">

		© 2021&nbsp;			<span class="copyright">
				Clinica Maya			</span>
		
		
	</div>

	
	</div>

</footer>

	</div>

		<script type="text/javascript">
		var c = document.body.className;
		c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
		document.body.className = c;
	</script>
	<script src="../css/Registro_3_modificar_files/jquery.blockUI.min.js.descarga" id="jquery-blockui-js"></script>
<script id="wc-add-to-cart-js-extra">
var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"Ver carrito","cart_url":"http:\/\/www.mexicad.com\/mi-carrito__trashed\/","is_cart":"","cart_redirect_after_add":"no"};
</script>
<script src="../css/Registro_3_modificar_files/add-to-cart.min.js.descarga" id="wc-add-to-cart-js"></script>
<script src="../css/Registro_3_modificar_files/js.cookie.min.js.descarga" id="js-cookie-js"></script>
<script id="woocommerce-js-extra">
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
</script>
<script src="../css/Registro_3_modificar_files/woocommerce.min.js.descarga" id="woocommerce-js"></script>
<script id="wc-cart-fragments-js-extra">
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_498f7cbf6ee8cf04ce915cc16a126194","fragment_name":"wc_fragments_498f7cbf6ee8cf04ce915cc16a126194","request_timeout":"5000"};
</script>
<script src="../css/Registro_3_modificar_files/cart-fragments.min.js.descarga" id="wc-cart-fragments-js"></script>
<script id="go-frontend-js-extra">
var GoText = {"searchLabel":"Expandir el campo de b\u00fasqueda"};
</script>
<script src="../css/Registro_3_modificar_files/frontend.min.js.descarga" id="go-frontend-js"></script>
<script src="../css/Registro_3_modificar_files/wp-embed.min.js.descarga" id="wp-embed-js"></script>
	<script>
	/(trident|msie)/i.test(navigator.userAgent)&&document.getElementById&&window.addEventListener&&window.addEventListener("hashchange",function(){var t,e=location.hash.substring(1);/^[A-z0-9_-]+$/.test(e)&&(t=document.getElementById(e))&&(/^(?:a|select|input|button|textarea)$/i.test(t.tagName)||(t.tabIndex=-1),t.focus())},!1);
	</script>
			<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'wpaas'},{'server':'p3nlwpweb031.shr.prod.phx3.secureserver.net'},{'xid':'43524566'},{'wp':'5.6'},{'php':'7.3.12'},{'loggedin':'0'},{'cdn':'1'},{'builder':'wp-block-editor'},{'theme':'go'},{'nextgen':'0'})</script>
		<script src="../css/Registro_3_modificar_files/tcc_l.combined.1.0.6.min.js.descarga"></script>
		
	

</body></html>