<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/new" method="POST" id="formulario">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="edad" name="edad" placeholder="Edad">
        <input type="comentarios" name="comentarios" placeholder="Comentarios">
        <br>
        <input type="submit" value="mostrar">


    </form>
</body>
</html>